---
# Enable ALL the things! Except not really
# misc-non-private-member-variables-in-classes: the options don't do anything
# modernize-use-nodiscard: too aggressive, attribute is situationally useful
Checks: "*,\
  -cppcoreguidelines-*,\
  -google-readability-todo,\
  -altera-*,\
  -fuchsia-*,\
  fuchsia-multiple-inheritance,\
  -llvm-header-guard,\
  -llvm-include-order,\
  -llvmlibc-*,\
  -modernize-use-nodiscard,\
  -modernize-use-trailing-return-type,\
  -misc-non-private-member-variables-in-classes,\
  -readability-identifier-length,\
  -readability-magic-numbers"
WarningsAsErrors: '*'
CheckOptions:
  - key: 'bugprone-argument-comment.StrictMode'
    value: 'true'
  - key: 'bugprone-argument-comment.CommentBoolLiterals'
    value: 'true'
  - key: 'bugprone-misplaced-widening-cast.CheckImplicitCasts'
    value: 'true'
  - key: 'bugprone-sizeof-expression.WarnOnSizeOfIntegerExpression'
    value: 'true'
  - key: 'bugprone-suspicious-string-compare.WarnOnLogicalNotComparison'
    value: 'true'
...
